{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Required_Age</th>
        <th>Is Free</th>
        <th>Currency</th>
        <th>Price</th>
        <th>Review Score</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr>
          <td>{{ game.name }}</td>
          <td>{{ game.required_age }}</td>
          <td>{{ game.is_free }}</td>
          <td>{{ game.currency }}</td>
          <td>{{ game.final_formatted }}</td>
          <td>{{ game.review_score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {searchable: false},
          {orderable: false},
          {searchable: false},
          {searchable: false}],
      });
    });
  </script>
{% endblock %}